---
title: "Salgirah Festival"
layout: project
tags:
    - projects
    - visual identity
description: "A unified festival identity across 21 countries and 11 languages."
cover: "img/Salgirah_cover.mp4"
media: Branding, Motion, Environmental
client: The Ismaili Community
---

<div class="grid-2">
    <div>
        <p>Salgirah is a festival observed by Ismaili community marking the birthday of their spiritual leader. His Highness the Aga Khan V was appointed the role of Imam to 15 million Ismailis worldwide in 2025. October 12 marked his first Salgirah.</p>
    </div>
    <div>
        <p>In 2025, the identity launched to over 1 million social media impressions across 21 countries in 11 languages. The global activation demonstrates how a unified identity travels across unexpected materials and age groups.</p>
    </div>
</div>

<!-- <div class="grid-1">
    <video autoplay loop muted playsinline preload="metadata" class="portfolio-img">
        <source src="img/Salgirah_animation.mp4" type="video/mp4">
    </video>
</div> -->

<br>
<hr>
<p><strong>Global Brand Activation</strong></p>
<br>

<div class="grid-1">
    <img src="img/Salgirah_banners.png" alt="" class="portfolio-img">
</div>

<div class="grid-3">
    <div>
        <video autoplay loop muted playsinline preload="metadata" class="portfolio-img">
            <source src="img/2025_Salgirah_02_montage.mp4" type="video/mp4">
        </video>
    </div>
    <div>
        <video autoplay loop muted playsinline preload="metadata" class="portfolio-img">
            <source src="img/2025_Salgirah_05_wood.mp4" type="video/mp4">
        </video>
    </div>
    <div>
        <video autoplay loop muted playsinline preload="metadata" class="portfolio-img">
            <source src="img/2025_Salgirah_07_REC.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div class="grid-1">
    <img src="img/Salgirah_backdrop.png" alt="" class="portfolio-img">
    <img src="img/Salgirah_table.png" alt="" class="portfolio-img">
</div>


<br>
<hr>
<p><strong>Identity System</strong></p>
<br>

<div class="grid-3">
    <div>
        <img src="img/2025_Salgirah_06_pattern.png" alt="" class="portfolio-img">
    </div>
    <div>
        <img src="img/2025_Salgirah_03_logo.png" alt="" class="portfolio-img">
    </div>
    <div>
        <img src="img/2025_Salgirah_04_system.png" alt="" class="portfolio-img">
    </div>
</div>

<br>
<hr>
<p><strong>Process</strong></p>
<br>

<div class="grid-3">
    <div>
        <video autoplay loop muted playsinline preload="metadata" class="portfolio-img">
            <source src="img/2025_Salgirah_08_proposal.mp4" type="video/mp4">
        </video>
    </div>
    <div>
        <img src="img/2025_Salgirah_09_process.png" alt="" class="portfolio-img">
    </div>
    <div>
        <video autoplay loop muted playsinline preload="metadata" class="portfolio-img">
            <source src="img/2025_Salgirah_10_inspo.mp4" type="video/mp4">
        </video>
    </div>
</div>
