<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/rli7dce.css">
    <link rel="stylesheet" href="./styles.css">
    <!-- TODO: favicon -->
    <!-- TODO: meta -->
    <!-- TODO: og -->
    <title>TEN THOUSAND IDEAS, TWENTY-FOUR HOURS</title>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CPZFEJK5BG"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CPZFEJK5BG');
</script>

<body>
    <header>
        <h1 class="center">TEN THOUSAND IDEAS<br> TWENTY-FOUR HOURS</h1>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p><b>INSTAGRAM</b> <a href="https://instagram.com/10k24.studio" target=_blank>@10k24.studio</a></p>
        <p>&copy; <script>document.write((new Date()).getFullYear());</script> 10k24 Studio.</p>
    </footer>
</body>
</html>