---
layout: base
---

<div class="idea-header">
    <h1>{{title}}</h1>
    <p class="project-meta">{{ISODate}}</p>
    <p class="project-meta">{{description}}</p>
</div>

<div>
    {{ content }}
</div>