---
title: "Processing Native"
layout: project
tags: projects
description: "TODO"

cover: "cover.png"
media: Software Engineering
location: Los Angeles, CA
---

<!-- TODO: specify hero image so it can be different from cover img -->
<!-- TODO: copy, image, story -->

<p>A C++ runtime for Processing with roughly 4x performance improvement. We have attempted to match the Processing .pde syntax for 2D functionality at closely as possible.</p>

<p>Source code is available on <a href="https://github.com/10k24/processing-DSL" target=_blank>GitHub</a>.</p>
