---
title: Clocks
layout: project
tags: projects

cover: cover.png
media: Creative Coding
location: Los Angeles, CA

hideCover: true
# altCover: cover.liquid
---

<!-- TODO: specify hero image so it can be different from cover img -->
<!-- TODO: copy, image, story -->

<p>Ticking down the year on a 32x32 pixel grid.</p>

{% include "_includes/partials/square-p5-sketch", sketch:"./clock.js" %}