---
title: Clocks
layout: project
tags:
    - projects
    - tech
    - creative coding

cover: cover.png
description: "Clocks based on a 32x32 pixel grid."
media: Creative Coding
location: Los Angeles, CA

hideCover: false
useP5: true
# altCover: cover.liquid
---

<!-- TODO: specify hero image so it can be different from cover img -->
<!-- TODO: copy, image, story -->

<p>Clocks based on a 32x32 pixel grid.</p>

{% include "_includes/partials/square-p5-sketch", sketch:"./clock.js" %}
