---
title: "Ideas"
layout: base
description: "A computing / creativity / collaboration studio based in Los Angeles"
---

<div class="idea-list" id="ideas">
    {%- for idea in collections.ideas -%}
        <div class="idea-list-item">
            {% include "_includes/partials/idea-item" %}
        </div>
    {%- endfor -%}
</div>