---
title: "Ideas"
layout: base
description: "A computing / creativity / collaboration studio based in Los Angeles"
---

<section class="section-with-list" id="ideas">
    <h1>Ideas</h1>
    {%- for idea in collections.ideas -%}
        {% if idea.data.visible %}
            <div class="idea-list-item fade">
                {% include "_includes/partials/idea-item" %}
            </div>
        {% endif %}
    {%- endfor -%}
</section>
