---
title: "Words Have Power Installation"
layout: project
tags: projects

cover: "WHP_gif.webp"
media: Projection Mapping, Installation, Generative Art
location: Los Angeles, CA
---

<!-- TODO: specify hero image so it can be different from cover img -->
<!-- TODO: copy, image, story -->

<p>An awe-inspiring idea began with a simple phrase: vocal projection mapping.</p>

<img src="./cover.png" />