---
title: "Home"
layout: base
---

<div class="project-list">
    {%- for project in collections.projects -%}
        <div class="project-list-item">
            <a href="{{ project.url }}">
                <!-- <img /> -->
                <p>{{project.data.title}}</p>
                <p>{{project.data.location}}</p>
                <p>{{project.data.media}}</p>
            </a>
        </div>
    {%- endfor -%}
</div>