---
title: "Home"
layout: base
description: "A computing / creativity / collaboration studio based in Los Angeles"
---

<section class="hero">
    <!-- TODO: this should be perfectly vertically centered -->
    <a href="#projects"> 
        <img class="hero-logo" draggable="false" src="/img/10k24_longform_logo.svg" />
    </a>
</section>
<h1>A computing / creativity / collaboration studio based in Los Angeles</h1>
<br>
<br>
<br>
<h2>Our Work</h2>
<p>More coming soon... reach out to <a href="mailto:info@10k24.com">see more</a></p>
<div class="project-list" id="projects">
    {%- for project in collections.projects -%}
        <div class="project-list-item">
            {% include "_includes/partials/project-item" %}
        </div>
    {%- endfor -%}
</div>