@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.square-p5-container {
    max-height: 100vh;
    margin: 4rem auto;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: adelle-mono, monospace;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin: 2rem 4rem;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

/* TODO: bring back once project pages are added */
/* a:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
} */

h1 {
    font-weight: 400;
    font-size: 2.8rem;
    margin-bottom: 3.6rem;
}

h2 {
    font-weight: 400;
    font-size: 2.4rem;
}

p {
    line-height: 1.6rem;
}

.center {
    text-align: center;
}

header {
    z-index: 999;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

header, nav, footer, .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    height: 1rem;
}

h1.hero-txt {
    font-size: 2rem;
    line-height: 2.8rem;
    width: 75vw;
    margin: 0 auto;

    opacity: 0;
    /* animation: fadeIn 2s ease-in forwards; */
    animation: fadeIn 1.5s cubic-bezier(.55,.1,.9,.55) forwards;
}

.nav-item, footer p {
    margin-right: 2rem;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero {
    margin-top: -4rem;
    min-height: 100vh;
}

.hero .hero-logo {
    width: 75vw;
    height: auto;
    margin: 8rem auto;
}

.half-height {
    min-height: 50vh;
}

main {
    flex-grow: 1;
}

footer {
    margin-top: 4rem;
}

.og-scale {
    aspect-ratio: 1200/630;
    width: 100%;
}

.project-list {}

.project-list-item {
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.project-list-item a {
    text-decoration: none;
}

h3.project-title {
    font-weight: bold;
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
}

h3.project-title:hover {
    text-decoration: underline;
}

p.project-meta {
    color: #808080;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}

.project-header {
    margin-bottom: 4rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

canvas {
    margin: auto auto;
    padding: 2rem;
    display: block;
}


/* TODO: responsive font sizes */
@media only screen and (max-width: 860px) {
    p {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}