{%- comment -%}Extract just the filename without path or extension{%- endcomment -%}
{%- assign sketchParts = sketch | split: "/" -%}
{%- assign sketchFilename = sketchParts | last | replace: ".js", "" -%}
<div class="square-p5-container" data-sketch-file="{{sketchFilename}}" data-sketch-src="{{sketch}}"></div>